body {
    font-family:  'Rubik', sans-serif;
}


header{
    color: white;
    background-color: blue;
    text-align: center;
    padding: 20px;
}

aside {
    margin-left: 30px;
    margin-right: 20px;

}
.search{
    padding: 0;
}

aside > * {
    margin: 10px 0;
    width: 100%;

}

input {
    width: 100%;
    height: 40px;
}

#search-btn::after{
    content: "";
    position: absolute;
    top: 175px;
    left: 0;
    right: 0;
    border-top: 1px solid gray;
    z-index: -1;
}

.forecast{
    padding: 0;
    margin: 20px 0 0 0;
}

.rightNow {
    border: 1px solid black;
    margin-bottom: 20px;
}
.rightNow > *{
    margin: 10px 5px;
}

.five-day>div{

}

.cards{
    background-color: darkblue;
    color: white;
    margin: 2px;
    padding: 5px;
    max-width: 100%;
}